<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>egsemployeeapp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>/jsp/login.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>/jsp/sample.jsp</welcome-file>
    <welcome-file>/jsp/Activity.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>EgsloginServlet</display-name>
    <servlet-name>EgsloginServlet</servlet-name>
    <servlet-class>com.egs.servlet.EgsloginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EgsloginServlet</servlet-name>
    <url-pattern>/EgsloginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Egstrack</display-name>
    <servlet-name>Egstrack</servlet-name>
    <servlet-class>com.egs.servlet.Egstrack</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Egstrack</servlet-name>
    <url-pattern>/Egstrack</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DBConfig</display-name>
    <servlet-name>DBConfig</servlet-name>
    <servlet-class>com.egs.db.DBConfig</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EgsloginServlet</servlet-name>
    <url-pattern>/EgsloginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectData</display-name>
    <servlet-name>SelectData</servlet-name>
    <servlet-class>reterivedata.SelectData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectData</servlet-name>
    <url-pattern>/SelectData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>display</display-name>
    <servlet-name>display</servlet-name>
    <servlet-class>display</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>display</servlet-name>
    <url-pattern>/display</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>examplepage</display-name>
    <servlet-name>examplepage</servlet-name>
    <servlet-class>example.examplepage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>examplepage</servlet-name>
    <url-pattern>/examplepage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>samplecode</display-name>
    <servlet-name>samplecode</servlet-name>
    <servlet-class>sampleservlet.samplecode</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>samplecode</servlet-name>
    <url-pattern>/samplecode</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EgsEmployeeServlet</display-name>
    <servlet-name>EgsEmployeeServlet</servlet-name>
    <servlet-class>com.egs.servlet.EgsEmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EgsEmployeeServlet</servlet-name>
    <url-pattern>/EgsEmployeeServlet</url-pattern>
  </servlet-mapping>
</web-app>